:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  font-size: 0px;
  background: rgba(182, 214, 212, 0.5);
  overflow: hidden;
}
.fasilitas {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 182px;
  height: 41px;
  margin: 78px 0 0 666px;
  color: #193018;
  font-family: Arial, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
  white-space: nowrap;
  z-index: 18;
}
.lambang-kabupaten-pasuruan {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 32px 0 0 712px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.flex-row-cfb {
  position: relative;
  width: 344px;
  height: 30px;
  margin: 32px 0 0 579px;
  z-index: 23;
}
.rectangle {
  position: absolute;
  width: 253px;
  height: 30px;
  top: 0;
  left: 45px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  z-index: 22;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.pasuruankab-go-id {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 344px;
  height: 7px;
  top: 12px;
  left: 0;
  color: #000000;
  font-family: SeoulNamsan, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 7px;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 23;
}
.group {
  position: relative;
  width: 442px;
  height: 44px;
  margin: 32px 0 0 530px;
  background: url(./assets/images/1be4e96c-41f7-45ea-8beb-38e5b0ac54e8.png)
    no-repeat center;
  background-size: cover;
  z-index: 21;
}
.flex-row-aef {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 790px;
  height: 186px;
  margin: 47px 0 0 345px;
  z-index: 28;
}
.rectangle-1 {
  flex-shrink: 0;
  position: relative;
  width: 192px;
  height: 186px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 24;
}
.lambang-kabupaten-pasuruan-2 {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 56px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 26;
}
.lambang-kabupaten-pasuruan-3 {
  position: absolute;
  width: 79px;
  height: 94px;
  top: 0;
  left: 0;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
}
.rectangle-4 {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 16px 0 0 0;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 35;
}
.kesehatan {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 0;
  left: 22px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 36;
}
.rectangle-5 {
  flex-shrink: 0;
  position: relative;
  width: 192px;
  height: 186px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 28;
}
.lambang-kabupaten-pasuruan-6 {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 56px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 30;
}
.lambang-kabupaten-pasuruan-7 {
  position: absolute;
  width: 79px;
  height: 94px;
  top: 0;
  left: 0;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
}
.rectangle-8 {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 16px 0 0 0;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 39;
}
.pendidikan {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 0;
  left: 22px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 40;
}
.rectangle-9 {
  flex-shrink: 0;
  position: relative;
  width: 192px;
  height: 186px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 27;
}
.lambang-kabupaten-pasuruan-a {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 57px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
}
.lambang-kabupaten-pasuruan-b {
  position: absolute;
  width: 79px;
  height: 94px;
  top: 0;
  left: 0;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
}
.rectangle-c {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 16px 0 0 0;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 37;
}
.pasar-daerah {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 0;
  left: 23px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 38;
}
.flex-row-f {
  position: relative;
  width: 1628px;
  height: 208px;
  margin: 10px 0 0 -13px;
  z-index: 53;
}
.rectangle-d {
  position: absolute;
  width: 76px;
  height: 82px;
  top: 0;
  left: 0;
  background: #739072;
  z-index: 8;
  border-radius: 15px;
}
.disabled {
  position: relative;
  width: 50px;
  height: 61px;
  margin: 9px 0 0 19px;
  background: url(./assets/images/cbe8dd9ebb12af0a9fb93a49c8e46e968ea14005.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}
.rectangle-e {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 10px;
  left: 1565px;
  background: url(./assets/images/3e0a8b9b366508a15df29f18c692cd5633d32e0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.rectangle-f {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets/images/3e0a8b9b366508a15df29f18c692cd5633d32e0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.rectangle-10 {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets/images/3e0a8b9b366508a15df29f18c692cd5633d32e0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.rectangle-11 {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets/images/3e0a8b9b366508a15df29f18c692cd5633d32e0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.rectangle-12 {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 22px;
  left: 358px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 45;
}
.lambang-kabupaten-pasuruan-13 {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 56px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
}
.rectangle-14 {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 16px 0 0 0;
  background: #205972;
  z-index: 48;
}
.pdam {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 0;
  left: 22px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 49;
}
.rectangle-15 {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 22px;
  left: 657px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 53;
}
.lambang-kabupaten-pasuruan-16 {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 56px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.rectangle-button {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 16px 0 0 0;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 54;
}
.span-perhubungan {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 0;
  left: 22px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 55;
}
.rectangle-div {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 22px;
  left: 956px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 50;
}
.div-lambang-kabupaten {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 57px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
}
.rectangle-button-17 {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 16px 0 0 0;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 51;
}
.span-perpustakaan {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 3px;
  left: 22px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 52;
}
.flex-row-c {
  position: relative;
  width: 111px;
  height: 37px;
  margin: 35px 0 0 45px;
  z-index: 61;
}
.rectangle-button-18 {
  position: absolute;
  width: 107px;
  height: 37px;
  top: 0;
  left: 2px;
  cursor: pointer;
  background: rgba(12, 52, 69, 0.9);
  border: none;
  opacity: 0.9;
  z-index: 60;
  border-radius: 50px;
}
.span-back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 111px;
  height: 23px;
  top: 7px;
  left: 0;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 22.998px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 61;
}
.flex-row-a {
  position: relative;
  width: 1498px;
  height: 102px;
  margin: 19px 0 0 -58px;
  z-index: 16;
}
.rectangle-div-19 {
  position: absolute;
  width: 1442px;
  height: 102px;
  top: 0;
  left: 56px;
  background: #d9d9d9;
  z-index: 10;
}
.span-komplek-perkantoran {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 505px;
  height: 56px;
  top: 25px;
  left: 38px;
  color: #000000;
  font-family: Arial, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: left;
  text-overflow: initial;
  z-index: 15;
  overflow: hidden;
}
.government-office {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 505px;
  height: 56px;
  top: 27px;
  left: 35px;
  color: #000000;
  font-family: Arial, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: left;
  text-overflow: initial;
  z-index: 6;
  overflow: hidden;
}
.instagram-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 43px;
  height: 43px;
  top: 27px;
  left: 1275px;
  color: rgba(0, 0, 0, 0);
  font-family: Arial, var(--default-font-family);
  font-size: 5px;
  font-weight: 700;
  line-height: 5.75px;
  text-align: left;
  text-decoration: underline;
  text-transform: capitalize;
  z-index: 17;
}
.instagram {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 32px;
  left: 1278px;
  background: url(./assets/images/c989d1bc9130dc61d956178d67ea0865e881036b.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.facebook {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 32px;
  left: 1331px;
  background: url(./assets/images/4047442ef23d060ad539f447dec52efec7786a0d.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.rectangle-1a {
  position: absolute;
  width: 41px;
  height: 36px;
  top: 34px;
  left: 1217px;
  background: url(./assets/images/e3fb36c7-3a02-4d0c-a2f2-0272dcd94849.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.youtube {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 34px;
  left: 1162px;
  background: url(./assets/images/3ed9d9289d14f2a9ba26be328748a3f5de61238e.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
}
.website-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 344px;
  height: 7px;
  top: 20px;
  left: 4px;
  color: #000000;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 7px;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 16;
}
.website-link-1b {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 344px;
  height: 7px;
  top: 24px;
  left: 0;
  color: #000000;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 7px;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 5;
}
.agenda {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 17px;
  height: 5px;
  margin: 70px 0 0 1321px;
  color: #ffffff;
  font-family: League Spartan, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 5px;
  text-align: center;
  white-space: nowrap;
  z-index: 7;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.beach-guide {
  position: absolute;
  width: 1440px;
  height: 925px;
  top: 0;
  left: 0;
  background: url(./assets/images/aac81521316cf2a9010a7598358c80b7c1cf53a7.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.7;
}
