:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.flex-row-fd {
  position: relative;
  width: 1313px;
  height: 93px;
  margin: 474px 0 0 63px;
  z-index: 81;
}
.ellipse {
  position: absolute;
  width: 93px;
  height: 93px;
  top: 50%;
  left: 16px;
  background: url(./assets-hp2/20150563-2e15-4d73-bdd4-f77db8d14710.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 78;
  border-radius: 50%;
}
.ellipse-1 {
  position: absolute;
  width: 93px;
  height: 93px;
  top: 50%;
  left: 311px;
  background: url(./assets-hp2/fa3259b2-756d-4a56-889d-a02937ea2a54.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 9;
  border-radius: 50%;
}
.ellipse-2 {
  position: absolute;
  width: 93px;
  height: 93px;
  top: 50%;
  left: 590px;
  background: url(./assets-hp2/ea95ac3d-b004-4d29-8c47-212ea633f2f0.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 10;
  border-radius: 50%;
}
.ellipse-3 {
  position: absolute;
  width: 93px;
  height: 93px;
  top: 50%;
  left: 903px;
  background: url(./assets-hp2/831ec5fc-c2ff-44af-81b1-babca804782f.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 11;
  border-radius: 50%;
}
.ellipse-4 {
  position: absolute;
  width: 94px;
  height: 93px;
  top: 50%;
  left: 1203px;
  background: url(./assets-hp2/56752fe5-8f71-4126-9997-feca63b569d8.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 12;
}
.rectangle {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 50%;
  left: 919px;
  transform: translate(0, -46.83%);
  z-index: 33;
}
.customer-service {
  position: relative;
  width: 59px;
  height: 60px;
  margin: 1px 0 0 2px;
  background: url(./assets-hp2/fef1a2abf2e1c408b1bddd582304a9eb6cd1ebfe.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
}
.facility-management {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 605px;
  background: url(./assets-hp2/1ba78cbc553b86fe8fc57d285c1acd7c043fbb8a.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -47.5%);
  z-index: 61;
}
.company {
  position: absolute;
  width: 58px;
  height: 60px;
  top: 50%;
  left: 34px;
  background: url(./assets-hp2/60c424cb456d61f5faef9da84af1004909803ac4.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -45.83%);
  z-index: 81;
}
.abilities {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 50%;
  left: 328px;
  background: url(./assets-hp2/d3a0b68fd8b5dab706ebab639b9f3a6d34665fcc.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -44.92%);
  z-index: 55;
}
.virtual-tour {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 50%;
  left: 1226px;
  background: url(./assets-hp2/4f34f17cea86dd15ee783b3b6e335440ad25b3c9.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -38.24%);
  z-index: 69;
}
.rectangle-5 {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 50%;
  left: 0;
  background: url(./assets-hp2/f1627a98-c513-4081-af38-97465eb78384.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, 210%);
  z-index: 79;
  border-radius: 7px;
}
.profil {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 36px;
  height: 16px;
  top: calc(50% - 8.5px);
  left: 44px;
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 80;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-6 {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 50%;
  left: 295px;
  background: url(./assets-hp2/de3ae901-a791-4626-a871-d692f2217751.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, 210%);
  z-index: 31;
  border-radius: 7px;
}
.potensi {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 51px;
  height: 16px;
  top: calc(50% - 8.5px);
  left: 37px;
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 32;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-7 {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 50%;
  left: 574px;
  background: url(./assets-hp2/e7639eb8-0502-403d-baa9-e24c5da949ee.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, 210%);
  z-index: 29;
  border-radius: 7px;
}
.fasilitas {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 57px;
  height: 16px;
  top: calc(50% - 8.5px);
  left: 34px;
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 30;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-8 {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 50%;
  left: 888px;
  background: url(./assets-hp2/946035de-7cf9-4f10-9246-e6a683c107c3.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, 210%);
  z-index: 34;
  border-radius: 7px;
}
.layanan {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 57px;
  height: 16px;
  top: calc(50% - 8.5px);
  left: 34px;
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 35;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-9 {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 50%;
  left: 1188px;
  background: url(./assets-hp2/2a343ba8-a9f1-459d-829b-699451067b73.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, 210%);
  z-index: 36;
  border-radius: 7px;
}
.virtual-reality {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 94px;
  height: 16px;
  top: calc(50% - 8.5px);
  left: 15px;
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 37;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.flex-row-da {
  position: relative;
  width: 1640px;
  height: 93px;
  margin: 49px 0 0 -13px;
  z-index: 63;
}
.ellipse-a {
  position: absolute;
  width: 93px;
  height: 93px;
  top: 50%;
  left: 237px;
  background: url(./assets-hp2/58c92b2e-f7a8-4c10-a72c-3f327734848f.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 6;
  border-radius: 50%;
}
.ellipse-b {
  position: absolute;
  width: 93px;
  height: 92px;
  top: 50%;
  left: 528px;
  background: url(./assets-hp2/9279f77f-bf3e-4d15-b550-e7ab74322ee9.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50.54%);
  z-index: 1;
}
.ellipse-c {
  position: absolute;
  width: 94px;
  height: 92px;
  top: 50%;
  left: 811px;
  background: url(./assets-hp2/aa4e0e36-9de7-49cf-87c6-be561031008a.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50.54%);
  z-index: 2;
}
.ellipse-d {
  position: absolute;
  width: 94px;
  height: 91px;
  top: 50%;
  left: 1125px;
  background: url(./assets-hp2/33206287-124a-418f-9b2f-2df9f0908a6a.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -51.1%);
  z-index: 5;
}
.rectangle-e {
  position: absolute;
  width: 87px;
  height: 83px;
  top: 0;
  left: 1553px;
  background: #735f5f;
  z-index: 13;
  border-radius: 8px;
}
.rectangle-f {
  position: absolute;
  width: 87px;
  height: 83px;
  top: 0;
  left: 0;
  background: #735f5f;
  z-index: 15;
  border-radius: 8px;
}
.rectangle-10 {
  position: absolute;
  width: 87px;
  height: 83px;
  top: 0;
  left: 0;
  background: #735f5f;
  z-index: 17;
  border-radius: 8px;
}
.rectangle-11 {
  position: absolute;
  width: 87px;
  height: 83px;
  top: 0;
  left: 0;
  background: #735f5f;
  z-index: 19;
  border-radius: 8px;
}
.rectangle-12 {
  position: relative;
  width: 63px;
  height: 63px;
  margin: 20px 0 0 12px;
  background: url(./assets-hp2/3e0a8b9b366508a15df29f18c692cd5633d32e0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.rectangle-13 {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets-hp2/3e0a8b9b366508a15df29f18c692cd5633d32e0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 16;
}
.rectangle-14 {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets-hp2/3e0a8b9b366508a15df29f18c692cd5633d32e0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}
.rectangle-15 {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets-hp2/3e0a8b9b366508a15df29f18c692cd5633d32e0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.rectangle-16 {
  position: absolute;
  width: 76px;
  height: 82px;
  top: 10px;
  left: 0;
  background: #739072;
  z-index: 58;
  border-radius: 15px;
}
.disabled {
  position: relative;
  width: 50px;
  height: 61px;
  margin: 9px 0 0 19px;
  background: url(./assets-hp2/cbe8dd9ebb12af0a9fb93a49c8e46e968ea14005.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
}
.magazine {
  position: absolute;
  width: 56px;
  height: 60px;
  top: 18px;
  left: 830px;
  background: url(./assets-hp2/31374193d1599b51e738dc2a5251a5594717025a.png)
    no-repeat center;
  background-size: cover;
  z-index: 62;
}
.rectangle-17 {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 22px;
  left: 252px;
  z-index: 38;
}
.application {
  position: relative;
  width: 55px;
  height: 56px;
  margin: -1px 0 0 0;
  background: url(./assets-hp2/2012081f2f6fa07191c2e4941b2f6a17082b371e.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.newspaper {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 27px;
  left: 548px;
  background: url(./assets-hp2/2333b7076bf6d4d91281c1bbe51af07cc38f22fb.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
.premium {
  position: absolute;
  width: 53px;
  height: 49px;
  top: 29px;
  left: 1145px;
  background: url(./assets-hp2/385e84678b0bdcb9350b00e1f966905e854f454f.png)
    no-repeat center;
  background-size: cover;
  z-index: 63;
}
.majalah {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 52px;
  height: 16px;
  top: 76px;
  left: calc(50% - -11px);
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 42;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.aplikasi-pemerintah {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 134px;
  height: 16px;
  top: 77px;
  left: calc(50% - 603px);
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 40;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-18 {
  position: absolute;
  width: 136px;
  height: 15px;
  top: 78px;
  left: 216px;
  background: url(./assets-hp2/c06301c6-c218-4eb4-8e71-be2dadfeb0f7.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
  border-radius: 7px;
}
.rectangle-19 {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 78px;
  left: 512px;
  background: url(./assets-hp2/13242cd6-48be-4ea3-a785-06378a652ac0.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
  border-radius: 7px;
}
.berita {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 16px;
  top: -1px;
  left: calc(50% - 20.5px);
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 44;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-1a {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 78px;
  left: 795px;
  background: url(./assets-hp2/7db98ea0-aa91-429b-923a-a468c1ae78b0.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
  border-radius: 7px;
}
.rectangle-1b {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 78px;
  left: 1109px;
  background: url(./assets-hp2/01d29523-d303-432e-b65c-b8c57d16bd39.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
  border-radius: 7px;
}
.unggulan-kami {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 103px;
  height: 16px;
  top: -1px;
  left: calc(50% - 51.5px);
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 46;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.flex-row-ba {
  position: relative;
  width: 1013px;
  height: 96px;
  margin: 50px 0 0 208px;
  z-index: 68;
}
.ellipse-1c {
  position: absolute;
  width: 94px;
  height: 92px;
  top: 50%;
  left: 904px;
  background: url(./assets-hp2/db39caa1-a898-4060-80df-42734f94c3b0.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -52.17%);
  z-index: 4;
}
.ellipse-1d {
  position: absolute;
  width: 94px;
  height: 92px;
  top: 50%;
  left: 590px;
  background: url(./assets-hp2/a2009aa8-1a44-43da-ac67-546052c60677.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -50%);
  z-index: 3;
}
.ellipse-1e {
  position: absolute;
  width: 93px;
  height: 93px;
  top: 50%;
  left: 17px;
  background: url(./assets-hp2/005db573-a51e-4402-9b84-cd5b4242c8d5.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -48.39%);
  z-index: 7;
  border-radius: 50%;
}
.ellipse-1f {
  position: absolute;
  width: 93px;
  height: 93px;
  top: 50%;
  left: 307px;
  background: url(./assets-hp2/f04b51d2-c0bd-42de-990f-6780ea92034f.png)
    no-repeat center;
  background-size: cover;
  transform: translate(0, -48.39%);
  z-index: 8;
  border-radius: 50%;
}
.public-administration {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 25px;
  left: 326px;
  background: url(./assets-hp2/7e2a03d8fc9aeb0ef4d8101ed9a065d0621f5b59.png)
    no-repeat center;
  background-size: cover;
  z-index: 65;
}
.schedule {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 29px;
  left: 925px;
  background: url(./assets-hp2/2210beb55ee255044eb4f26c4af310b2e441140f.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
}
.gallery {
  position: absolute;
  width: 61px;
  height: 51px;
  top: 30px;
  left: 32px;
  background: url(./assets-hp2/38e81027ac7fefd074ef620312a7a7d34b08e27e.png)
    no-repeat center;
  background-size: cover;
  z-index: 64;
}
.attachment {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 30px;
  left: 611px;
  background: url(./assets-hp2/fbcfa4114b9909fa31b3c9a436900e5def61dec0.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
}
.agenda {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 52px;
  height: 16px;
  top: 79px;
  left: calc(50% - -419.5px);
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 67;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-20 {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 81px;
  left: 0;
  background: url(./assets-hp2/fabf06ad-0758-4650-8793-20beeee15e06.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
  border-radius: 7px;
}
.galeri-foto {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 74px;
  height: 16px;
  top: 0;
  left: calc(50% - 37.5px);
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 48;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-21 {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 81px;
  left: 291px;
  background: url(./assets-hp2/61d66748-7439-4ace-baf7-31f8e21d7ec6.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
  border-radius: 7px;
}
.lembaga-adm {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 97px;
  height: 16px;
  top: -1px;
  left: calc(50% - 48.5px);
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 52;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-22 {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 81px;
  left: 574px;
  background: url(./assets-hp2/8a8cb38d-cc5e-475c-b7c7-6204655ba902.png)
    no-repeat center;
  background-size: cover;
  z-index: 49;
  border-radius: 7px;
}
.download {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 67px;
  height: 16px;
  top: 0;
  left: calc(50% - 33.5px);
  color: #1a3019;
  font-family: Arial, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  z-index: 50;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-23 {
  position: absolute;
  width: 125px;
  height: 15px;
  top: 81px;
  left: 888px;
  background: url(./assets-hp2/3bc9bf08-b0fd-4a4f-9241-65fadfe2eb1e.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
  border-radius: 7px;
}
.flex-row-a {
  position: relative;
  width: 1498px;
  height: 102px;
  margin: 67px 0 0 -58px;
  z-index: 76;
}
.rectangle-24 {
  position: absolute;
  width: 1440px;
  height: 102px;
  top: 0;
  left: 58px;
  background: #d9d9d9;
  z-index: 70;
}
.kontak-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 505px;
  height: 56px;
  top: 28px;
  left: 36px;
  color: #000000;
  font-family: Arial, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: left;
  text-overflow: initial;
  z-index: 75;
  overflow: hidden;
}
.kontak-info-25 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 505px;
  height: 56px;
  top: 30px;
  left: 33px;
  color: #000000;
  font-family: Arial, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: left;
  text-overflow: initial;
  z-index: 28;
  overflow: hidden;
}
.instagram {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 43px;
  height: 43px;
  top: 30px;
  left: 1273px;
  color: rgba(0, 0, 0, 0);
  font-family: Arial, var(--default-font-family);
  font-size: 5px;
  font-weight: 700;
  line-height: 5.75px;
  text-align: left;
  text-decoration: underline;
  text-transform: capitalize;
  z-index: 77;
}
.instagram-26 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 35px;
  left: 1276px;
  background: url(./assets-hp2/c989d1bc9130dc61d956178d67ea0865e881036b.png)
    no-repeat center;
  background-size: cover;
  z-index: 73;
}
.facebook {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 35px;
  left: 1329px;
  background: url(./assets-hp2/4047442ef23d060ad539f447dec52efec7786a0d.png)
    no-repeat center;
  background-size: cover;
  z-index: 74;
}
.rectangle-27 {
  position: absolute;
  width: 41px;
  height: 36px;
  top: 37px;
  left: 1215px;
  background: url(./assets-hp2/fc58e786-7f8d-4a6a-92a4-6cffb981606d.png)
    no-repeat center;
  background-size: cover;
  z-index: 72;
}
.youtube {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 37px;
  left: 1160px;
  background: url(./assets-hp2/3ed9d9289d14f2a9ba26be328748a3f5de61238e.png)
    no-repeat center;
  background-size: cover;
  z-index: 71;
}
.pasuruankab-go-id {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 344px;
  height: 7px;
  top: 23px;
  left: 4px;
  color: #000000;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 7px;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 76;
}
.pasuruankab-go-id-28 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 344px;
  height: 7px;
  top: 27px;
  left: 0;
  color: #000000;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 7px;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 27;
}
.agenda-29 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 17px;
  height: 5px;
  margin: 73px 0 0 1321px;
  color: #ffffff;
  font-family: League Spartan, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 5px;
  text-align: center;
  white-space: nowrap;
  z-index: 54;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-2a {
  position: absolute;
  width: 1440px;
  height: 923px;
  top: 0;
  left: 0;
  background: url(./assets-hp2/251b1a9de35d66c0f7a98e36d056225f26388172.png)
    no-repeat center;
  background-size: cover;
  cursor: pointer;
}
.rectangle-2b {
  position: absolute;
  width: 442px;
  height: 44px;
  top: 31px;
  left: 951px;
  background: #e7ecf1;
  border: 4px solid #1a3019;
  opacity: 0.7;
  z-index: 21;
  overflow: hidden;
  border-radius: 25px;
  backdrop-filter: blur(2px);
}
.flex-row {
  position: absolute;
  width: 1323px;
  height: 398px;
  top: 34px;
  left: 70px;
  z-index: 85;
}
.ellipse-2c {
  position: absolute;
  width: 135px;
  height: 130px;
  top: 0;
  left: 182px;
  background: url(./assets-hp2/6778983c-ac2a-4364-8397-9ca3e56cd895.png)
    no-repeat center;
  background-size: cover;
  z-index: 83;
  cursor: pointer;
}
.search {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 7px;
  left: 1284px;
  background: url(./assets-hp2/ea829fab24b8a142342c24a92aa25dc2f0a88283.png)
    no-repeat center;
  background-size: cover;
  z-index: 22;
}
.lambang-kabupaten-pasuruan {
  position: absolute;
  width: 79px;
  height: 94px;
  top: 65px;
  left: 1185px;
  background: url(./assets-hp2/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 24;
}
.ellipse-2d {
  position: absolute;
  width: 305px;
  height: 304px;
  top: 94px;
  left: 95px;
  background: url(./assets-hp2/373dc3a0-d14b-4a03-b118-d49079802df2.png)
    no-repeat center;
  background-size: cover;
  z-index: 85;
  box-sizing: content-box;
}
.selamat-datang-di-portal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  width: 723px;
  height: 82px;
  top: 183px;
  left: 568px;
  color: #193018;
  font-family: Arial, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 41.396px;
  text-align: right;
  z-index: 23;
}
.ellipse-2e {
  position: absolute;
  width: 135px;
  height: 130px;
  top: 192px;
  left: 0;
  background: url(./assets-hp2/b8820f86-e69d-43ed-a7e0-2778265ba5a2.png)
    no-repeat center;
  background-size: cover;
  z-index: 82;
  cursor: pointer;
}
.ellipse-2f {
  position: absolute;
  width: 135px;
  height: 130px;
  top: 192px;
  left: 367px;
  background: url(./assets-hp2/0017c2ae-6a53-40e4-8d53-cb33c01800c8.png)
    no-repeat center;
  background-size: cover;
  z-index: 84;
}
.button {
  position: absolute;
  width: 253px;
  height: 30px;
  top: 275px;
  left: 1024px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  z-index: 25;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.pasuruankab-go-id-30 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 344px;
  height: 7px;
  top: 287px;
  left: 979px;
  color: #000000;
  font-family: SeoulNamsan, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 7px;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 26;
}
