:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  font-size: 0px;
  background: rgba(182, 214, 212, 0.5);
  overflow: hidden;
}
.potensi {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 159px;
  height: 41px;
  margin: 78px 0 0 678px;
  color: #193018;
  font-family: Arial, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
  white-space: nowrap;
  z-index: 18;
}
.lambang-kabupaten-pasuruan {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 32px 0 0 712px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.flex-row-a {
  position: relative;
  width: 344px;
  height: 30px;
  margin: 32px 0 0 579px;
  z-index: 26;
}
.rectangle {
  position: absolute;
  width: 253px;
  height: 30px;
  top: 0;
  left: 45px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  z-index: 25;
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.pasuruankab-go-id {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 344px;
  height: 7px;
  top: 12px;
  left: 0;
  color: #000000;
  font-family: SeoulNamsan, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 7px;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 26;
}
.flex-row-c {
  position: relative;
  width: 442px;
  height: 44px;
  margin: 32px 0 0 530px;
  z-index: 24;
}
.rectangle-1 {
  position: absolute;
  width: 442px;
  height: 44px;
  top: 0;
  left: 0;
  background: #e7ecf1;
  border: 4px solid #1a3019;
  opacity: 0.7;
  z-index: 22;
  border-radius: 25px;
  backdrop-filter: blur(2px);
}
.group-input {
  position: absolute;
  width: 442px;
  height: 44px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 24;
  outline: none;
}
.search {
  position: relative;
  width: 24px;
  height: 24px;
  margin: 10px 0 0 403px;
  background: url(./assets/images/ea829fab24b8a142342c24a92aa25dc2f0a88283.png)
    no-repeat center;
  background-size: cover;
  z-index: 23;
}
.flex-row-af {
  position: relative;
  width: 1223px;
  height: 186px;
  margin: 46px 0 0 100px;
  z-index: 53;
}
.rectangle-2 {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 0;
  left: 0;
  background: rgba(182, 214, 212, 0.4);
  z-index: 48;
}
.lambang-kabupaten-pasuruan-3 {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 56px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}
.rectangle-4 {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 16px 0 0 0;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 51;
}
.prestasi {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 0;
  left: 22px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 52;
}
.rectangle-5 {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 0;
  left: 252px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 27;
}
.lambang-kabupaten-pasuruan-6 {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 56px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
}
.lambang-kabupaten-pasuruan-7 {
  position: absolute;
  width: 79px;
  height: 94px;
  top: 0;
  left: 0;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 37;
}
.rectangle-8 {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 0;
  left: 504px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 31;
}
.lambang-kabupaten-pasuruan-9 {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 56px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 33;
}
.lambang-kabupaten-pasuruan-a {
  position: absolute;
  width: 79px;
  height: 94px;
  top: 0;
  left: 0;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
}
.rectangle-b {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 15px 0 0 0;
  background: #205972;
  z-index: 42;
}
.koperasi {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 4px;
  left: 21px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 43;
}
.rectangle-c {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 0;
  left: 756px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 30;
}
.lambang-kabupaten-pasuruan-d {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 57px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 35;
}
.lambang-kabupaten-pasuruan-e {
  position: absolute;
  width: 79px;
  height: 94px;
  top: 0;
  left: 0;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
}
.rectangle-f {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 15px 0 0 0;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 40;
}
.pariwisata {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 4px;
  left: 28px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 41;
}
.rectangle-10 {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 0;
  left: 1031px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 53;
}
.lambang-kabupaten-pasuruan-11 {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 57px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 57;
}
.rectangle-12 {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 16px 0 0 0;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 54;
}
.perikanan {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 1px;
  left: 21px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 55;
}
.rectangle-button {
  position: absolute;
  width: 192px;
  height: 53px;
  top: 133px;
  left: 250px;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 38;
}
.industri-span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 4px;
  left: 22px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 39;
}
.flex-row-f {
  position: relative;
  width: 1628px;
  height: 227px;
  margin: 11px 0 0 -13px;
  z-index: 84;
}
.rectangle-div {
  position: absolute;
  width: 76px;
  height: 82px;
  top: 0;
  left: 0;
  background: #739072;
  z-index: 8;
  border-radius: 15px;
}
.disabled-div {
  position: relative;
  width: 50px;
  height: 61px;
  margin: 9px 0 0 19px;
  background: url(./assets/images/cbe8dd9ebb12af0a9fb93a49c8e46e968ea14005.png)
    no-repeat center;
  background-size: cover;
  z-index: 9;
}
.rectangle-div-13 {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 10px;
  left: 1565px;
  background: url(./assets/images/3e0a8b9b366508a15df29f18c692cd5633d32e0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}
.rectangle-div-14 {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets/images/3e0a8b9b366508a15df29f18c692cd5633d32e0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.rectangle-div-15 {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets/images/3e0a8b9b366508a15df29f18c692cd5633d32e0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.rectangle-div-16 {
  position: absolute;
  width: 63px;
  height: 63px;
  top: 0;
  left: 0;
  background: url(./assets/images/3e0a8b9b366508a15df29f18c692cd5633d32e0b.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.rectangle-div-17 {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 41px;
  left: 111px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 79;
}
.lambang-kabupaten-pasuruan-div {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 56px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 81;
}
.rectangle-button-18 {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 16px 0 0 0;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 82;
}
.pertanian-span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 4px;
  left: 22px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 83;
}
.rectangle-div-19 {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 41px;
  left: 363px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 58;
}
.lambang-kabupaten-pasuruan-div-1a {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 56px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
.lambang-kabupaten-pasuruan-div-1b {
  position: absolute;
  width: 79px;
  height: 94px;
  top: 0;
  left: 0;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
}
.rectangle-button-1c {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 15px 0 0 0;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 69;
}
.span-peternakan {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 4px;
  left: 22px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 70;
}
.rectangle-div-1d {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 41px;
  left: 615px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 62;
}
.div-lambang-kabupaten {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 56px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 64;
}
.div-lambang-kabupaten-1e {
  position: absolute;
  width: 79px;
  height: 94px;
  top: 0;
  left: 0;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 76;
}
.rectangle-button-1f {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 16px 0 0 0;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 73;
}
.span-ketahanan-pangan {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 4px;
  left: 25px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 74;
}
.rectangle-div-20 {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 41px;
  left: 867px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 61;
}
.div-lambang-kabupaten-21 {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 57px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 66;
}
.div-lambang-kabupaten-22 {
  position: absolute;
  width: 79px;
  height: 94px;
  top: 0;
  left: 0;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
}
.rectangle-div-23 {
  position: absolute;
  width: 192px;
  height: 186px;
  top: 41px;
  left: 1142px;
  background: rgba(182, 214, 212, 0.4);
  z-index: 84;
}
.div-lambang-kabupaten-24 {
  position: relative;
  width: 79px;
  height: 94px;
  margin: 23px 0 0 57px;
  background: url(./assets/images/fee0eadafe02b0d9ac48d167fdd3b4af54bc40a6.png)
    no-repeat center;
  background-size: cover;
  z-index: 88;
}
.rectangle-button-25 {
  position: relative;
  width: 192px;
  height: 53px;
  margin: 16px 0 0 0;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 85;
}
.span-ekonomi-kreatif {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 3px;
  left: 22px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 86;
}
.rectangle-button-26 {
  position: absolute;
  width: 192px;
  height: 53px;
  top: 174px;
  left: 869px;
  cursor: pointer;
  background: #205972;
  border: none;
  z-index: 71;
}
.span-bunhut {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 147px;
  height: 45px;
  top: 4px;
  left: 21px;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 22.998px;
  text-align: center;
  z-index: 72;
}
.flex-row-d {
  position: relative;
  width: 111px;
  height: 37px;
  margin: 16px 0 0 46px;
  z-index: 90;
}
.button-rectangle {
  position: absolute;
  width: 107px;
  height: 37px;
  top: 0;
  left: 1px;
  cursor: pointer;
  background: rgba(12, 52, 69, 0.9);
  border: none;
  opacity: 0.9;
  z-index: 89;
  border-radius: 50px;
}
.span-back {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 111px;
  height: 23px;
  top: 7px;
  left: 0;
  color: #ffffff;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 22.998px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 90;
}
.flex-row-a-27 {
  position: relative;
  width: 1498px;
  height: 102px;
  margin: 19px 0 0 -58px;
  z-index: 16;
}
.rectangle-28 {
  position: absolute;
  width: 1442px;
  height: 102px;
  top: 0;
  left: 56px;
  background: #d9d9d9;
  z-index: 10;
}
.span-komplek-perkantoran {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 505px;
  height: 56px;
  top: 25px;
  left: 38px;
  color: #000000;
  font-family: Arial, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: left;
  text-overflow: initial;
  z-index: 15;
  overflow: hidden;
}
.span-komplek-perkantoran-29 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 505px;
  height: 56px;
  top: 27px;
  left: 35px;
  color: #000000;
  font-family: Arial, var(--default-font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 13.799px;
  text-align: left;
  text-overflow: initial;
  z-index: 6;
  overflow: hidden;
}
.span-instagram {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  width: 43px;
  height: 43px;
  top: 27px;
  left: 1275px;
  color: rgba(0, 0, 0, 0);
  font-family: Arial, var(--default-font-family);
  font-size: 5px;
  font-weight: 700;
  line-height: 5.75px;
  text-align: left;
  text-decoration: underline;
  text-transform: capitalize;
  z-index: 17;
}
.instagram {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 32px;
  left: 1278px;
  background: url(./assets/images/c989d1bc9130dc61d956178d67ea0865e881036b.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.facebook {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 32px;
  left: 1331px;
  background: url(./assets/images/4047442ef23d060ad539f447dec52efec7786a0d.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.rectangle-2a {
  position: absolute;
  width: 41px;
  height: 36px;
  top: 34px;
  left: 1217px;
  background: url(./assets/images/fab837f8-9918-4902-ba0c-7beb9363ade3.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.youtube {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 34px;
  left: 1162px;
  background: url(./assets/images/3ed9d9289d14f2a9ba26be328748a3f5de61238e.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
}
.span-pasuruankab {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 344px;
  height: 7px;
  top: 20px;
  left: 4px;
  color: #000000;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 7px;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 16;
}
.span-pasuruankab-2b {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 344px;
  height: 7px;
  top: 24px;
  left: 0;
  color: #000000;
  font-family: Arial, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 7px;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 5;
}
.span-agenda {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 17px;
  height: 5px;
  margin: 70px 0 0 1321px;
  color: #ffffff;
  font-family: League Spartan, var(--default-font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 5px;
  text-align: center;
  white-space: nowrap;
  z-index: 7;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.the-bali-bible-balangan-beach {
  position: absolute;
  width: 1440px;
  height: 925px;
  top: 0;
  left: 0;
  background: url(./assets/images/aac81521316cf2a9010a7598358c80b7c1cf53a7.png)
    no-repeat center;
  background-size: cover;
  opacity: 0.7;
}
